* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.6em;
    color: #DFEEEA;
    font-family: sans-serif;
    height: fit-content;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #DFEEEA;
    margin: 20px;
    padding: 10px 10px;
    background-color: #2F5D62;
    margin: auto;
    width: fit-content;
}

h3 {
    font-size: 1.3em;
    font-family: sans-serif;
    margin: 20px;
}

p {
    padding: 30px;
    font-size: 1em;
    font-family: sans-serif;
}
form{
    font-size: 1.2em;
    font-weight: bold;
    color: #2F5D62;
}

nav ul {
    list-style: none;
}

article ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article ul li {
    font-size: 1em
}

li {
    font-size: 1em;
}

section img {
    width: 250px;
    height: 200px;
    margin: 10px;
}

article img {
    width: 250px;
    height: 200px;
    margin: 10px;

}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.2fr 3fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header_container"
        "titulo_container"
        "main_container"
        "footer_container";
    max-width: 1400px;
    margin: auto;
    background-color: #DFEEEA;
}

.gridcontainer2 {
    background-color: #DFEEEA;
}



.header_container {
    grid-area: header_container;
    background-color: #2F5D62;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}


header a {
    color: #DFEEEA;
    text-decoration: none;
}

header nav a:hover {
    transition: .5s;
    background-color: #02381982;
}

header .logo {
    margin: 0;
    padding-right: 50px;
    font-weight: bold;
    color: #DFEEEA;
    font-size: 1.4em;
}

.titulo_container {
    grid-area: titulo_container;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F5D62;
    margin: 40px;


}

.main_container {
    grid-area: main_container;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.main_container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-area: main_container2;
    text-align: center;
    grid-template-areas: "columna1";
}

.fotos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.foto2 {
    display: none;
}

.foto3 {
    display: none;
}


.descripcion {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

}

.footer_container {
    grid-area: footer_container;
    background-color: #2F5D62;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    height: 160px;

}

.footer_container img {
    width: 30px;
}

.footer_container #escribinos a:hover {
    transition: .5s;
    background-color: #02381982;
}

#escribinos {
    font-weight: bold;
    font-size: 1em;
}

.footer_container a {
    color: #DFEEEA;
    text-decoration: none;
}

.pie {
    color: #2F5D62;
    font-weight: 600;
    font-size: 1em;
}






@media (min-width: 768px) {
    .foto2 {
        display: block;
    }

    .primera_fila {
        display: flex;
        align-items: center;
    }

    .segunda_fila {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }


    nav li a {
        margin: 0 10px;
        font-size: 1em;

    }

    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.2em;
    }

    p {
        font-size: 1.4em;
    }

    header .logo {
        margin: 0;
        padding-right: 50px;
        font-weight: bold;
        color: #DFEEEA;
        font-size: 1.8em;
    }

    .gridcontainer2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.2fr 3.4fr 0.4fr;
        gap: 0px 0px;
        grid-template-areas:
            "header_container"
            "titulo_container"
            "main_container2"
            "footer_container";
        max-width: 1400px;
        margin: auto;
        background-color: #DFEEEA;
    }

    .main_container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "columna1 columna2";
        grid-area: main_container2;
    }

    .columna1 {
        grid-area: columna1;
    }

    .columna2 {
        grid-area: columna2;
    }

    .columna3 {
        grid-area: columna3;
        display: none;
    }

    section img {
        width: 320px;
        height: 350px;
    }

    article img {
        width: 320px;
        height: 350px;
        margin: 10px;

    }

    #video1 {
        width: 320px;
        height: 350px;
        margin: 10px;
    }

    #video2 {
        width: 320px;
        height: 350px;
        margin: 90px;
    }

    #video3 {
        width: 320px;
        height: 350px;
        margin: 10px;
    }


    article ul li {
        font-size: 1.6em
    }

    h3 {
        font-size: 2.2;
    }

    .footer_container img {
        width: 50px;
    }

    #escribinos {
        font-weight: bold;
        font-size: 1.2em;
    }
    form{
        font-size: 1.7em;
        font-weight: bold;
    }

    @media (min-width: 1280px) {
        .foto3 {
            display: block;
        }

        .fotos {
            display: flex;
            justify-content: center;
            gap: 40px;
        }

        nav li a {
            margin: 0 10px;
            font-size: 1.5em;

        }

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2.5em;
        }

        p {
            font-size: 2em;
        }

        header .logo {
            margin: 0;
            padding-right: 50px;
            font-weight: bold;
            color: #DFEEEA;
            font-size: 1.8em;
        }

        .gridcontainer2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.4fr 0.2fr 3.4fr 0.4fr;
            gap: 0px 0px;
            grid-template-areas:
                "header_container"
                "titulo_container"
                "main_container2"
                "footer_container";
            max-width: 1400px;
            margin: auto;
            background-color: #DFEEEA;
        }

        .main_container2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "columna1 columna2 columna3";
            grid-area: main_container2;
        }

        .columna1 {
            grid-area: columna1;
        }

        .columna2 {
            grid-area: columna2;
        }

        .columna3 {
            grid-area: columna3;
            display: block;
        }

        section img {
            width: 320px;
            height: 350px;
        }

        article img {
            width: 320px;
            height: 350px;
            margin: 10px;

        }

        article ul li {
            font-size: 1.6em
        }

        h3 {
            font-size: 2.2;
        }

        .footer_container img {
            width: 50px;
        }

        #escribinos {
            font-weight: bold;
            font-size: 1.2em;

                }