* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
h1 {
    font-size: 1.6em;
    color: #DFEEEA;
    font-family: sans-serif;
    height: fit-content;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #DFEEEA;
    margin: 20px;
    padding: 10px 10px;
    background-color: #2F5D62;
    margin: auto;
    width: fit-content;
}

h3 {
    font-size: 1.3em;
    font-family: sans-serif;
    margin-top: 50px;

}

p {
    padding: 30px;
    font-size: 1em;
    font-family: sans-serif;
}
a {
    color: #ffffff;
    text-decoration: none;
}