.navbar .navbar-nav .nav-item a:hover {
    background-color: #0f373a82;
    transition: .5s;
    color: white;
}
form .form-control { box-shadow: 4px 4px 4px 4px #2F5D62; }

button:hover {
    background-color: #0f373a82;
    
    
}
