@mixin foto( $ancho, $alto){
    height: $alto;
    width: $ancho;
}
@mixin margen( $margen ){
    margin: $margen;
}
section img {
@include foto(397px,300px );
@include margen(15px);
}

article img{
    @include foto (250px, 200px);
    @include margen(10px);
}

.fotos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.foto2 {
    display: none;
}

.foto3 {
    display: none;
}
footer img {
    width: 30px;
}