@media (min-width: 768px) {
    .foto2 {
        display: block;
    }

    .primera_fila {
        display: flex;
        align-items: center;
    }

    .segunda_fila {
        @extend .primera_fila;
        flex-direction: row-reverse;
        
    }

    ul {
        @extend .primera_fila;
        flex-direction: row;
        justify-content: space-evenly;
    }


    nav li a {
        margin: 0 10px;
        font-size: 1.2em;

    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.6em;
    }

    p {
        font-size: 1.3em;
    }


    .gridcontainer2 {
        max-width: 1400px;
        margin: auto;
        background-color: #DFEEEA;
    }

    .main_container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "columna1 columna2";
        grid-area: main_container2;
        .columna1 {
            grid-area: columna1;
        }
    
        .columna2 {
            grid-area: columna2;
        }
    
        .columna3 {
            grid-area: columna3;
            display: none;
        }
    }

    

    section img {
        width: 397px;
        height: 300px;
    }
    .logo-italiano{
        width: 120px;
        height: 80px;
    }

    article img {
        width: 320px;
        height: 300px;
        margin: 10px;

    }

    #video1 {
        width: 320px;
        height: 300px;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    #video2 {
        width: 320px;
        height: 300px;
        margin: 90px;
    }

    #video3 {
        width: 320px;
        height: 300px;
        margin: 10px;
    }


    article ul li {
        font-size: 1.4em
    }

    footer img {
        width: 50px;
    }


    form {
        font-size: 1.7em;
        font-weight: bold;
    }

    .text-muted {
        font-size: 1.3em;
    }


    .option {
        font-size: 20px;
    }
    .logo-italiano{
        width: 100px;
        height: 80px;
    }
    .logo-italiano:hover{
        width: 120px;
    }
}
     @media (min-width: 1280px) {
        .foto3 {
            display: block;
        }

        .fotos {
            display: flex;
            justify-content: center;
            gap: 40px;
        }

        nav li a {
            margin: 0 10px;
            font-size: 1.5em;

        }

        h1 {
            font-size: 2.8em;
        }

        h2 {
            font-size: 2.2em;
        }
        h3{ font-size: 1.8em;}

        p {
            font-size: 1.6em;
        }

        .gridcontainer2 {
            max-width: 1400px;
            margin: auto;
            background-color: #DFEEEA;
        }

        .main_container2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "columna1 columna2 columna3";
            grid-area: main_container2;
            .columna1 {
                grid-area: columna1;
            }
    
            .columna2 {
                grid-area: columna2;
            }
    
            .columna3 {
                grid-area: columna3;
                display: block;
            }
       

        section img {
            width: 397px;
            height: 300px;
        }

        article img {
            width: 320px;
            height: 300px;
            margin: 10px;

        }

        article ul li {
            font-size: 1.6em
        }

        h3 {
            font-size: 2.2;
        }

        footer img {
            width: 50px;
        }
    }
    
     }